
<h4> THE MOST INTERESTING PEOPLE IN THE WORLD</h4>
<h6> okay, that I could think of </h6>

<div id="app">
<ul>
  <li v-for="person in people" v-on:hover="showBio(person)">
    <p> {{ person.name }} </p>
    <p v-if="person.bioVisible"> {{ person.bio }} </p>
  </li>
</ul>
</div>
